body{
  margin: 0;
}

header {
    background-color:darkgrey;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  nav a:hover {
    color: #1BF7DE;
  }

section{
    margin-top: 10px;
}
.button-menu-toggle {
  display: none;
  
}
.nav-links.navegacion {
  display: flex;
  align-items: center;
}
.bien{
  margin-right:900px;
}
.plant{
 display:flex;
 flex-direction: row;
 justify-content: center;

  
  

}
div h1{ color: cyan;
  margin: 40px;

}
.primero{
  border: solid red;
  text-align: center;
 padding-bottom: 5px;
  padding-top: 5px;
  
 
}
.segundo{
  border: solid cyan;

  text-align: center;
}
#araña{
  width: 300px;
  height: 200px;
}
#rayo{
  width: 350px;
  height: 150px;
}
.imagen{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-top: 50px;
  gap: 15px;
}

#titulos{
  display: flex;
  justify-content:space-around
}

.video{
  display: flex;
  justify-content: center;
margin-top: 40px;
margin-bottom: 30px;
}

#boton{
  display: flex;
  flex-direction: column;
  justify-content: center;
margin-left: 300px;
margin-top: 80px;

}



  @media(max-width :767px){
    header{background-color:darkgreen ;
    }
    nav{ font-size: 25px;} 
    .column {
      flex: 100%; }

      .bien{
        margin: auto;
      }
      .navegacion {
        display: none;
      }

  .button-menu-toggle {
    display: block;
    background-color: white;
    border:none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
  }
  .navegacion.navegacion-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20,20,20,0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap:70px;
    font-size: 40px;


  }
  }
 

